---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Navbar from "@/components/Navbar.astro";

const posts = (await getCollection("works")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <Navbar />
    <main>
      <section>
        <div class="projectsContainer">
          <ul style=" margin: 0;">
            {
              posts.map((post) => (
                <li class="project">
                  <a href={`/works/${post.slug}/`}>
                    <Picture
                      class="postHeroImg"
                      src={post.data.heroImage}
                      alt={`${post.data.title} by Óscar A. Montiel`}
                      quality={"high"}
                      formats={["webp"]}
                      decoding="async"
                      loading="eager"
                    />
                    <div class="postInfo">
                      <p class="postTitle">{post.data.title}</p>
                    </div>
                  </a>
                  <ul class="toolsContainer">
                    {(post.data.tools ?? []).map((tool) => (
                      <li class="tool">{tool}</li>
                    ))}
                  </ul>
                </li>
              ))
            }
          </ul>
        </div>
      </section>
    </main>
    <!-- <script is:inline type="text/javascript">
      document.addEventListener("DOMContentLoaded", function () {
        const projects = document.querySelectorAll(".project");
        projects.forEach((project) => {
          project.addEventListener("mouseenter", function () {
            this.style.transform = "scale(1.1)";
            this.style.zIndex = "10"; // Ensure the scaled element is above others
          });
          project.addEventListener("mouseleave", function () {
            this.style.transform = "scale(1)";
            this.style.zIndex = "1"; // Reset z-index
          });
        });
      });
    </script> -->

    <style>
      .projectsContainer {
        width: 43%;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      ul {
        list-style-type: none;
        padding: unset;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns by default */
        gap: 0.5rem;
        overflow: hidden;
      }

      ul a {
        filter: hue-rotate(0deg);
        transition: filter 0.3s ease-in-out;
      }

      ul a:hover {
        filter: hue-rotate(180deg);
      }

      ul li {
        display: flex;
        flex-direction: column;
      }

      .project {
        position: relative;
        display: block;
        /* transition: transform 0.5s ease; 
        transform-origin: center center;  */
      }

      /* .project:hover {
        transition: grid-column 10.5s ease;
      } */

      .postTitle {
        color: floralwhite;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        letter-spacing: 0.1rem;
        font-size: 1.8rem;
        padding: 1rem;
        margin-bottom: 0;
        line-height: 1.1;
      }

      .postInfo {
        /* mix-blend-mode: exclusion; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: none;
      }

      .project:hover .postInfo {
        display: block; /* Show the title on hover */
      }

      .toolsContainer {
        position: absolute;
        color: #fdfefe;
        right: 100;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        display: flex;
        flex-wrap: wrap;
      }

      .tool {
        font-size: 0.7rem;
        background-color: #060606;
        padding: 0.4rem;
        margin: 0;
      }

      .postHeroImg {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      @media (max-width: 768px) {
        .projectsContainer {
          margin: 0;
          width: 100%;
        }

        ul {
          grid-template-columns: 1fr;
          grid-gap: 0;
        }

        .postInfo {
          display: block;
        }
      }
    </style>
  </body>
</html>
