---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE } from "../../consts";
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Navbar from "@/components/Navbar.astro";

const posts = (await getCollection("works")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={"Software Engineer"} />
  </head>
  <body>
    <Header />
    <Navbar />
    <main>
      <section>
        <div class="projectsContainer">
          <ul style=" margin: 0;">
            {
              posts.map((post) => (
                <li>
                  <a href={`/works/${post.slug}/`}>
                    <Picture
                      class="postHeroImg"
                      src={post.data.heroImage}
                      alt={`${post.data.title} by Óscar A. Montiel`}
                      quality={"high"}
                      formats={["webp"]}
                      decoding="async"
                      loading="lazy"
                    />
                    <div class="postInfo">
                      <p class="postTitle">{post.data.title}</p>
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </section>
    </main>
    <style>
      .projectsContainer {
        margin: 0 24rem;
      }

      ul {
        list-style-type: none;
        padding: unset;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: 1rem;
      }

      ul a:hover {
        filter: invert(1);
      }

      ul li {
        display: flex;
        flex-direction: column;
      }

      .postTitle {
        background-color: black;
        color: floralwhite;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        letter-spacing: 0.1rem;
        font-size: 2rem;
        padding: 1rem;
        margin-bottom: 0;
        line-height: 1.1;
      }

      ul li a {
        position: relative;
      }
      .postInfo {
        mix-blend-mode: exclusion;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .tools {
        margin-top: 1rem;
        color: #fdfefe;
        font-family: "Open Sans", sans-serif;
        margin: 0;
        font-size: 1em;
      }

      .postHeroImg {
        height: 100%;
        width: 100%;
      }

      @media (max-width: 768px) {
        .projectsContainer {
          margin: 0 2rem;
        }

        ul {
          grid-template-columns: 1fr;
        }
      }
    </style>
  </body>
</html>
