---
import { YouTubeGrid } from "@/components/YouTubeGrid/YoutubeGrid.jsx";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Navbar from "@/components/Navbar.astro";
import { Picture } from "astro:assets";
import MagicHeading from "@/components/MagicHeading.jsx";
import visualsCover from "@/images/works/visuals/visuals-main-cover.jpg";
import heroImage from "@/images/works/visuals/visuals-cover.jpg";
import img1 from "@/images/works/visuals/visuals-1.jpg";
import img2 from "@/images/works/visuals/visuals-6.png";
import img3 from "@/images/works/visuals/visuals-3.png";
import img4 from "@/images/works/visuals/visuals-4.png";
import img5 from "@/images/works/visuals/visuals-5.jpg";
import img7 from "@/images/works/visuals/visuals-7.jpg";
import img8 from "@/images/works/visuals/visuals-8.jpg";
import img9 from "@/images/works/visuals/visuals-9.jpg";
---

<html lang="en">
  <head>
    <BaseHead
      title={"A/Visuals by Óscar A. Montiel"}
      description={"Animations & A/Visual art."}
      image={visualsCover.src}
    />
  </head>
  <body>
    <Header />
    <Navbar />
    <YouTubeGrid client:load count={20} />
    <main class="articleContainer">
      <!--       <h3
        id="text"
        style="font-size: 4.5rem;line-height: 1; transform: rotate(0deg);"
      >
        Animations that evoke a sense of <b>dreams</b> and <b>confusion</b>.
      </h3> -->
      <MagicHeading client:visible />
      <div class="images-container">
        <Picture
          src={heroImage}
          alt={"3D A/Vision by Óscar A. Montiel"}
          class="heroImage"
          formats={["webp"]}
          decoding="async"
          loading="eager"
          quality={90}
        />
        <Picture
          src={img7}
          alt={"3D A/Vision by Óscar A. Montiel"}
          class="heroImage"
          formats={["webp"]}
          decoding="async"
          loading="eager"
          quality={90}
        />
        <Picture
          src={img1}
          alt={"3D A/Vision by Óscar A. Montiel"}
          class="heroImage"
          formats={["webp"]}
          decoding="async"
          loading="eager"
          quality={90}
        />
        <Picture
          src={img8}
          alt={"3D A/Vision by Óscar A. Montiel"}
          class="heroImage"
          formats={["webp"]}
          decoding="async"
          loading="eager"
          quality={90}
        />
        <Picture
          src={img9}
          alt={"3D A/Vision by Óscar A. Montiel"}
          class="heroImage"
          formats={["webp"]}
          decoding="async"
          loading="eager"
          quality={90}
        />
        <Picture
          src={img3}
          alt={"3D A/Vision by Óscar A. Montiel"}
          class="heroImage"
          formats={["webp"]}
          decoding="async"
          loading="eager"
          quality={90}
        />
        <Picture
          src={img2}
          alt={"3D A/Vision by Óscar A. Montiel"}
          class="heroImage"
          formats={["webp"]}
          decoding="async"
          loading="eager"
          quality={90}
        />
        <Picture
          src={img4}
          alt={"3D A/Vision by Óscar A. Montiel"}
          class="heroImage"
          formats={["webp"]}
          decoding="async"
          loading="eager"
          quality={90}
        />
        <Picture
          src={img5}
          alt={"3D A/Vision by Óscar A. Montiel"}
          class="heroImage"
          formats={["webp"]}
          decoding="async"
          loading="eager"
          quality={90}
        />
      </div>
      <a
        class="top-link"
        href="#"
        onclick="window.scrollTo({top: 0, behavior: 'smooth'}); return false;"
      >
        <h3>Go to the top. Read the text again.</h3>
      </a>
    </main>
    <div class="avisualText">
      <p>
        3D/A/Visual work I do. <a
          href="https://www.youtube.com/@animanoir"
          target="_blank">Full gallery</a
        >.
      </p>
    </div>
  </body><style>
    .top-link {
      /* position: fixed; */
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
    .images-container {
      padding-top: 15vh;
    }

    .articleContainer {
      padding-top: 20vh;
      padding-bottom: 20vh;
      margin: 0 auto;
      position: relative;
      width: 65%;
    }
    body {
      margin: 0;
    }
    .heroImage {
      height: 50%;
      width: 100%;
      object-fit: cover;
      margin: 0 !important;
      filter: brightness(1);
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    .heroImage.loaded {
      opacity: 1;
    }
    /* .title {
      width: 100%;
      margin: 0;
      font-size: 5rem;
      font-family: "Montserrat", sans-serif;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.8),
        -1px -1px 0 rgba(0, 0, 0, 0.4);
      color: #ffffff;
      z-index: 2;
    } */
    .avisualText {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 1.8rem;
      color: #fdfefe;
      font-family: "Montserrat", sans-serif;
      /* background-color: #060606; */
      /* padding: 0.5rem; */
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    }

    .avisualText p {
      margin: 0;
      padding: 0;
      width: 100%;
      overflow: hidden;
      text-align: center;
    }
    @media (max-width: 768px) {
      .articleContainer {
        width: 100%;
      }
      .heroImage {
        height: auto;
      }
      #text {
        font-size: 2rem !important;
      }
    }
  </style>
</html>
