---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { Image } from "astro:assets";

const posts = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <div>
          <div class="projectContainer">
            <ul style="padding-top: 20vh!important; margin-top: 0;">
              {
                posts.map((post) => (
                  <li>
                    <a href={`/projects/${post.slug}/`}>
                      <Image
                        height={360}
                        width={720}
                        class="postHeroImg"
                        src={post.data.heroImage}
                        alt={post.data.title}
                        quality={"high"}
                      />
                      <div class="postInfo">
                        <p class="postTitle">{post.data.title}</p>
                        <ul class="tools">
                          {post.data.tools.map((tool) => (
                            <li class="tool">{tool}</li>
                          ))}
                        </ul>
                      </div>
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </section>
    </main>
    <Footer />
    <style>
      .projectContainer {
        margin: 0 10rem;
      }

      ul {
        list-style-type: none;
        padding: unset;
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        grid-gap: 3rem;
      }

      ul a:hover {
        filter: invert(1);
      }

      ul li {
        display: flex;
        flex-direction: column;
      }

      .postTitle {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        letter-spacing: 0.1rem;
        font-size: 1rem;
        padding: 1rem;
        color: #fdfefe;
        background-color: rgba(0, 0, 0, 0.9);
        margin-bottom: 0;
        line-height: 1.1;
      }

      ul li a {
        position: relative;
      }
      .postInfo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .tools {
        margin-top: 1rem;
        color: #fdfefe;
        font-family: "Open Sans", sans-serif;
        margin: 0;
        font-size: 1em;
      }

      .postHeroImg {
        height: 100%;
        width: 100%;
      }
    </style>
  </body>
</html>
