---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Picture } from "astro:assets";

type Props = CollectionEntry<"works">["data"];

const { title, description, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <article class="articleContainer">
      <div>
        {
          heroImage && (
            <Picture
              height={1024}
              width={720}
              src={heroImage}
              alt={description}
              quality={"max"}
              class="heroImage"
            />
          )
        }
      </div>
      <div>
        <h1 class="title">{title}</h1>
        <slot />
      </div>
    </article>
    <Footer />
    <style>
      .heroImage {
        height: 520px;
        object-fit: cover;
        width: 100%;
      }

      .articleContainer {
        padding-top: 5rem;
        padding-bottom: 10rem;
        margin: 0 auto;
        font-family: "Open Sans", sans-serif;
        color: #fdfefe;
        position: relative;
        width: 50%;
      }
      .title {
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 5rem;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        line-height: 1;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }

      @media (max-width: 768px) {
        .title {
          font-size: 3rem;
        }
        .articleContainer {
          width: 90%;
        }
      }
    </style>
  </body>
</html>
