---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import ModifiedHeader from "../components/ModifiedHeader.astro";
import Navbar from "../components/Navbar.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, summary, pubDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={`${title} by Óscar A. Montiel | Creative Software Engineer`}
      description={summary ?? "Blog post by Óscar A. Montiel."}
      image={heroImage}
    />
  </head>
  <body>
    <ModifiedHeader />
    <Navbar />
    <!-- <img src={heroImage} alt={title} width="100%" /> -->
    <article class="articleContainer">
      <h1 class="title">{title}</h1>
      <p class="postDate">
        {new Date(pubDate).toLocaleDateString()}
      </p>
      <div class="articleBody">
        <slot />
      </div>
    </article>
    <style>
      .postDate {
        font-family: "Open Sans", sans-serif;
        font-size: 0.8rem;
        margin-top: 0;
        width: fit-content;
        margin: 0 auto;
        color: #999;
      }
      .title {
        margin: 0;
        padding-top: 5rem;
        padding-bottom: 0.5rem;
        font-size: 3rem;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        line-height: 1;
      }

      .tools {
        display: block;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 0.8rem;
        color: #fdfefe7f;
        padding-bottom: 2rem;
        font-style: italic;
      }

      .articleContainer {
        padding-bottom: 5rem;
        margin: 0 auto;
        position: relative;
        width: 50%;
      }

      .articleBody {
        font-family: "Open Sans", sans-serif;
        color: #fdfefe;
        padding: 0 6rem;
        font-size: 1rem;
      }

      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }

      @media (max-width: 768px) {
        .title {
          font-size: 2.5rem;
        }
        .articleContainer {
          width: 100%;
        }
        .articleBody {
          padding: 0 1rem;
        }
      }
    </style>
  </body>
</html>
