---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import ModifiedHeader from "../components/ModifiedHeader.astro";
import { Picture } from "astro:assets";
import Navbar from "../components/Navbar.astro";

type Props = CollectionEntry<"works">["data"];

const { title, description, heroImage, tools } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={`${title} by Óscar A. Montiel | Creative Software Engineer`}
      description={description}
    />
  </head>
  <body>
    <ModifiedHeader />
    <Navbar />
    <article class="articleContainer">
      {
        heroImage && (
          <Picture
            src={heroImage}
            alt={description}
            quality={"high"}
            class="heroImage"
            formats={["webp"]}
            decoding="async"
            loading="eager"
          />
        )
      }
      <div class="articleBody">
        <h1 class="title">{title}</h1>
        <slot />
      </div>
    </article>
    <style>
      .heroImage {
        height: 420px;
        object-fit: cover;
        width: 100%;
        padding-bottom: 2rem;
      }

      .title {
        margin: 0;
        padding-bottom: 1rem;
        font-size: 3.5rem;
        /* text-align: center; */
        font-family: "Montserrat", sans-serif;
        line-height: 1;
        text-align: end;
      }

      .tools {
        display: block;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 0.7rem;
        color: #fdfefe7f;
        padding-bottom: 2rem;
        font-style: bold;
      }

      .articleContainer {
        padding-bottom: 5rem;
        margin: 0 auto;
        position: relative;
        width: 50%;
      }

      .articleBody {
        font-family: "Open Sans", sans-serif;
        color: #fdfefe;
        padding: 0 4rem;
        font-size: 1rem;
      }

      .articleContainer h1 {
        padding: 2rem;
      }

      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }

      @media (max-width: 768px) {
        .title {
          font-size: 2.5rem;
        }
        .articleContainer {
          width: 100%;
        }
        .articleBody {
          padding: 0 1rem;
        }
      }
    </style>
  </body>
</html>
